/* Estilo para a página principal */

body {

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffdef;
    color: white;

}

header {

    display: flex;
    margin: 0;
    background-color: #a7292f;
    border-radius: 10px;
}

nav {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 30px;
    position: relative;


}

section {

    display: flex;
    justify-content: space-between;
    border-radius: 15px;


}

footer {

    background-color: #a7292f;
    margin-top: 30px;

}

.cabecario {

    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;

}

#logo {

    margin: 20px;
    justify-content: left;
}

.titulo {

    display: flex;
    align-items: center;
    justify-content: calc();
    margin: 10px;
    height: 30px;

}

#carouselExampleCaptions {

    width: 500px;
    justify-content: center;
}

footer .informações {

    margin: 10px;
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: smaller;

}

.centralizar {

    display: flex;
    align-items: center;
    justify-content: center;
}

#pratos {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;

}

.col {
    width: 200px;
    height: 360px;
    text-align: left;

}

.sobre {

    max-width: 400px;
    text-align: justify;
    margin-right: 650px;

}

.Aluno {

    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lateralizar {

    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.card {

    width: 200px;
    height: 360px;
    display: flex; 
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.card-img-top {
    
    height: auto;
    margin-top: 5px;
}

#logo {

    border-radius: 15px;
}

.destaques,
.todos {

    margin: 15px;
    color: black;
    border-bottom: 2px solid #363633;

}

.tempoPreparo, .modoPreparo, .ingredientes { 
    display: none; 
   }

   .carousel-item {
    cursor: pointer;
  }
  

/* Página de detalhes */


#imagem-prato>img {
    width: 300px;
    height: auto;
    margin: 20px;
}

#titulo-prato { 
    margin-top: 25px; 
    color:black; 
}

.geral, .outros { 
    margin: 15px;
    color: black;
    border-bottom: 2px solid #363633;
}

.container.mt-4 {
    text-align: justify;
    color: black;
}

.centralizar>h3 { 
    color: #a7292f;
    margin: 25px;
}

#ingredientes-lista { 
    margin: 0;  
}

.outros, .geral { 
    margin-top: 25px;
}

#descricao { 
    max-width: 300px;
}

.imagem { 
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #a7292f;
    border-radius: 15px;
}

strong{
    color: #a7292f;
}

/*viewport para telas menores que 500px*/ 

@media screen and (max-width:540px){ 

    header { 
        max-width: 100%;
    }

    .destaques { 

        max-width: 100%;
    }

    nav { 
        max-width: 100%;
        justify-self: center;
        align-items: center; 
    }
    #carouselExampleCaptions{
        max-width: 90%;
    }

    .d-block.w-100{
        max-width: 100%;
        justify-content: center;
        align-items: center; 
    }

    .card {
        height: auto;
    }

    .col{
        width: 100%;
        height: auto;
    }

    .card>img{
        height: auto;
    }

    .sobre{ 
        margin: 0;
    }

    #modo-preparo-lista{ 

        text-align: left;
        padding-right: 25px;
    }

}

/*telas entre 541px e 1000px*/

@media screen and (min-width:541px) and (max-width:1000px){ 
    
    body{ 
        font-size: larger;
    }
    header { 
        max-width: 100%;
    }

    .destaques { 

        max-width: 100%;
    }

    nav { 

        width: 600px;
        max-width: 100%;
        justify-self: center;
        align-items: center; 
    }
    #carouselExampleCaptions{
        width: 600px;
        max-width: 100%;
    }

    .d-block.w-100{
        max-width: 100%;
        justify-content: center;
        align-items: center; 
    }

    #pratos{ 
        align-items: center;
        justify-content: center;
    }

    .card {
        height: auto;
    }

    .col{
        width: 60%;
        height: auto;
    }

    .card>img{
        height: auto;
    }

    .sobre, .altoria{ 
        margin: 20px;

    }

    .lateralizar{
        display: inline;
    }

    #modo-preparo-lista{ 

        text-align: left;
        padding-right: 25px;
    }

}

/*telas maiores que 1000px e menores que 1370px*/

@media screen and (min-width:1001px) and (max-width:1370px){ 
    
    body{ 
        font-size: larger;
    }
    header { 
        max-width: 100%;
    }

    .destaques { 

        max-width: 100%;
    }

    nav { 

        width: 600px;
        max-width: 100%;
        justify-self: center;
        align-items: center; 
    }
    #carouselExampleCaptions{
        width: 600px;
        max-width: 100%;
    }

    .d-block.w-100{
        max-width: 100%;
        justify-content: center;
        align-items: center; 
    }

    #pratos{ 
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 425px;
    }

    .col{
        width: 25%;
        height: auto;
    }

    .card>img{
        width: auto;
        height: 215px;
    }

    .sobre, .altoria{ 
        margin: 20px;

    }

    .lateralizar{
        display: inline;
    }

}